{
	"printWidth": 120,
	"bracketSpacing": true,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": [".prettierrc", ".eslintrc", ".vscode\\settings.json" ],
			"options": { "parser": "json" }
		},
		{
			"files": ["*.scss"],
			"options": { "singleQuote": false }
		}
	]
}
